{% load django_bootstrap5 %}

<div class="modal fade" id="detail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1> -->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{post.image.url}}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{post.user}}</h5>
              <p class="card-text">{{post.content}}</p>
              <p class="card-text"><small class="text-body-secondary">{{post.created_at}}</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>