{% extends 'base.html' %}

{% block body %}
    <div class="row my-3">
        <div class="col-3">
            <img src="{{user_profile.profile_image.url}}" class="img-fluid rounded-circle" alt="">
        </div>
        <div class="col-9">
            <div class="row mb-3">
                <div class="col-3">
                    <strong>{{user_profile.username}}</strong>
                </div>
                {% if user != user_profile %}
                <div class="col-3">
                    {% if user in user_profile.followers.all %}
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-outline-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                Following
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'accounts:follow' user_profile.username %}">unfollow</a></li>
                            </ul>
                        </div>
                    {% else %}
                        <a href="{% url 'accounts:follow' user_profile.username %}" class="btn btn-outline-warning">follow</a>
                    {% endif %}
                </div>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-3">
                    posts {{user_profile.post_set.all|length}}
                </div>
                <div class="col-3">                   
                    <a class="text-reset text-decoration-none" href="" data-bs-toggle="modal" data-bs-target="#modal1">
                        followers {{user_profile.followers.all|length}}
                    </a>
                </div>
                {% include '_modal1.html' %}
                <div class="col-3">
                    <a class="text-reset text-decoration-none" href="" data-bs-toggle="modal" data-bs-target="#modal2">
                        followings {{user_profile.followings.all|length}}
                    </a>
                </div>
                {% include '_modal2.html' %}
            </div>
        </div>
    </div>
    <div class="row">
        {% for post in user_profile.post_set.all %}
            <div class="col-4 p-0">
                <!-- <a href="" data-bs-toggle="modal" data-bs-target="#detail"> -->
                    <img src="{{post.image.url}}" class="img-fluid" alt="">
                </a>
            </div>
            
        {% endfor %}
    </div>
{% endblock %}