{% extends 'base.html' %}

{% block body %}
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>제목🦥</th>
                    <th>내용🐾</th>
                </tr>
            </thead>
            <tbody>
                {% for article in articles %}
                    <tr>
                        <td>{{article.title}}</td>
                        <td>{{article.content}}</td>
                        <td><a href="{% url 'articles:detail' article.id %}" class="btn btn-light">보기🐰</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
        
{% endblock %}