{% extends 'base.html' %}

{% block body %}
    <form action="{% url 'articles:create' %}" method="POST">
        {% csrf_token %}
        <div class="mt-2">
            <label for="title" class="form-label">제목🦌</label>
            <input type="text" class="form-control" id="title" name="title">
        </div>
        <div class="mt-2">
            <label for="content" class="form-label">내용🐈</label>
            <textarea name="content" id="content"class="form-control" rows="10"></textarea>
        </div>
        <button type="submit" class="btn btn-light mt-2">제출🐬</button>
    </form>
{% endblock %}