{% extends 'base.html' %}

{% block body %}
<div class="card mb-3">
    <div class="card-body text-center">
        {{user_profile.username}}
    </div>
</div>
<h3>Articles</h3>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Content</th>
            <th scope="col">Detail</th>
        </tr>
    </thead>
    <tbody>
        {% for article in user_profile.article_set.all %}
        <tr>
            <td>{{article.title}}</td>
            <td>{{article.content}}</td>
            <td>
                <a href="{% url 'articles:detail' article.id %}">🔍</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h3>Comments</h3>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Content</th>
            <th scope="col">Detail</th>
        </tr>
    </thead>
    <tbody>
        {% for comment in user_profile.comment_set.all %}
        <tr>
            <td>{{comment.content}}</td>
            <td>
                <a href="{% url 'articles:detail' comment.article.id %}">🔍</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock%}